@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	font-family: 'Raleway', sans-serif;

	--sidebarColor: #bae6fd;
	--mainColor: #0c4a6e;
	--headerColor: #93c5fd;
	--containerColor: #0284c7;
	--accentColor: #ff6e31;
	--darkBlueColor: rgb(1, 11, 70);
}
main {
	min-width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template: auto 4fr 0.1fr/ 1fr 4fr;
	background-color: var(--mainColor);
}

/* Header */
.header {
	grid-column: 2/-1;
	background-color: var(--headerColor);
	position: relative;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 1rem;
	padding-top: 1rem;
	position: sticky;
	top: 0;
	z-index: 10;
}

.top-header,
.bottom-header {
	display: flex;
	justify-content: space-between;
	height: 40%;
}
.left-corner-top-header {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	margin-left: 2%;
	width: 40%;
}
.left-corner-top-header input {
	border-radius: 15px;
	border: 1px solid var(--mainColor);
	padding-left: 10px;
	width: 100%;
}
.left-corner-top-header input:focus {
	outline-width: 0px;
	border: 1.5px solid var(--accentColor);
}
.right-corner-top-header {
	display: flex;
	align-items: center;
	gap: 0.7rem;
	margin-right: 4%;
}
.right-corner-top-header .profile-picture {
	border: 1px solid black;
	border-radius: 30px;
	padding: 2px;
}
.full-name {
	font-weight: bold;
}

.left-corner-bottom-header {
	display: flex;
	gap: 0.7rem;
	margin-left: 2%;
	align-items: center;
}
.left-corner-bottom-header .profile-picture {
	border: 1px solid black;
	padding: 2px;
	border-radius: 30px;
}
.left-corner-bottom-header > span > h6 {
	font-size: 15px;
}
.left-corner-bottom-header > span > h1,
.left-corner-bottom-header > span > h6 {
	font-weight: bold;
}
.right-corner-bottom-header {
	display: flex;
	justify-content: end;
	gap: 0.7rem;
	width: 30%;
	margin-right: 2%;
}
.right-corner-bottom-header > button,
.btn {
	background-color: var(--mainColor);
	border: 0px solid black;
	color: var(--sidebarColor);
	border-radius: 20px;
	width: 4rem;
	height: 1.75rem;
	font-weight: bold;
	font-size: 0.8rem;
}
.right-corner-bottom-header > button:hover {
	color: var(--mainColor);
	background-color: var(--headerColor);
	outline: 1px solid var(--mainColor);
	font-size: 0.9rem;
	cursor: pointer;
}

/* Sidebar */
.sidebar {
	grid-row: 1/5;
	background-color: var(--sidebarColor);
	display: flex;
	flex-direction: column;
	gap: 5%;
	overflow: hidden;
}

.logo {
	padding-top: 5%;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}
.text-logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--mainColor);
}
.sidebar-icons {
	color: var(--mainColor);
}
.list-item {
	display: flex;
	padding-bottom: 10px;
	gap: 5px;
}
.list-text {
	padding-top: 0.2rem;
	color: var(--mainColor);
}
.sidebar-items {
	padding-left: 10%;
	font-weight: bold;
}
a {
	text-decoration: none;
}
.sidebar-items li:hover {
	font-size: 1.2rem;
	padding-left: 0.3rem;
}

/* Main and Side content */
content {
	display: grid;
	grid-template-columns: 4fr 2fr;
}
.main-content {
	padding: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: min-content 1fr 1fr 1fr;
	gap: 1rem;
}
.main-content-title {
	grid-column: 1/-1;
	padding: 3%;
}
.side-container-title,
.main-content-title {
	color: var(--accentColor);
	font-weight: bold;
}
.side-container-title {
	padding: 5%;
}
.side-content {
	display: grid;
	grid-template-rows: min-content 1fr min-content 1fr;
	padding: 10%;
	gap: 1rem;
}
.main-content-container,
.side-content-container {
	border-radius: 10px;

	background-color: var(--containerColor);
	padding: 7%;
}
.main-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project-container > a,
.project-container > p {
	text-decoration: none;
}
.project-container > a {
	font-weight: bold;
	color: var(--darkBlueColor);
}

.project-container > p {
	color: var(--headerColor);
	font-size: 0.9rem;
	line-height: 1rem;
	padding-top: 0.7rem;
}
.main-content-container {
	background-image: -webkit-linear-gradient(
		left,
		#f09e07,
		#f78f08 2%,
		transparent 2%,
		transparent 100%
	);
}
.project-containerIcons {
	display: flex;
	justify-content: end;
}

.svgbtn {
	background-color: transparent;
	border: none;
	border-radius: 50px;
}
.svgbtn:hover {
	background-color: #f09e07;
}
.line-between {
	text-align: center;
	width: 100%;
	height: 2px;
	background-color: black;
}
.side-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.side-content-container > article > a {
	font-size: 0.85rem;
	color: var(--darkBlueColor);
	font-weight: bold;
}
.side-content-container > article > a:hover,
.project-container > a:hover,
.other-user-tag-name > a:hover {
	text-decoration: underline;
}
.side-content-container > article > p {
	font-size: 0.7rem;
	color: var(--headerColor);
	padding-top: 10px;
}
.other-user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.3rem;
}
.other-user-profile > img {
	border-radius: 30px;
}
.other-user-profile {
	display: flex;
	gap: 10px;
}
.other-user-tag-name {
	font-size: 0.8rem;
	font-weight: 600;
}
.other-user-tag-name > a {
	color: var(--darkBlueColor);
}
.other-user-desctiption {
	font-size: 0.7rem;
	color: var(--headerColor);
}

/* Footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--headerColor);
	font-size: 0.8rem;
	padding: 5px 0px;
}
footer > span > a {
	font-weight: bold;
	color: var(--accentColor);
}
footer > span > a:hover {
	text-decoration: underline;
}
.form-add-button {
	color: #fefefe;
}
.form-add-button:hover {
	cursor: pointer;
	background-color: var(--containerColor);
}
